/* Elementos estruturais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}

/* Pagina Principal */

.imagem {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;/* Faz a imagem cobrir o header sem distorcer */
    opacity: 0.2;/* Deixa a imagem mais transparente */
}

header {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 2%;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    z-index: 1;/* Mantém o texto na frente */
}

h2 {
    margin: 2%;
    font-style: oblique;
}

h3 {
    margin-top: 3%;
    text-align: center;
}

p {
    margin: 2%;
}

table {
    width: 50%;
    margin: 20px auto;
    /* Remove os espaços entre as células */
    border-collapse: collapse;
    text-align: center;
}

.tabela th,
.tabela td {
    padding: 12px;
    border: 1px solid #252424;
}

/* Pagina 1*/

ul {
    margin-left: 3.5%;
    margin-right: 2%;
}

button {
    text-decoration: none;
    position: absolute; 
    right: 20px;
    margin-bottom: 3%;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 12px 24px; /* Espaçamento interno (altura e largura) */
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}

